body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://wallpapercave.com/wp/wp5760685.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;
}

.bottomCol{
  margin: auto;


}
.container{
  margin-top: 5%;

}

.jumbotron{
  background: rgba(204, 204, 204, 0.41);
  font-weight: bold;

}

.row{
  margin-top: 7%;
}

.output {
  padding: 8%;
}